.env
.phpunit.result.cache
/public/*.js
/public/*.txt
/public/hot
/public/build
/public/mix-manifest.json
/public/storage
/public/storybook
/public/vendor/telescope
/resources/emails/dist
/storage/app/public
/storage/indexes
/storybook-static
_ide_helper.php
.idea
.phpstorm.meta.php
.phpunit.result.cache
/public/*LICENSE*
storage/api-docs
/vendor/
node_modules
.vscode
